body {
  margin: 0;
  padding:0;
}

.container {
  width: 100%;
}

.header {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: #000000;
  background-color: #f5f5f5;
}

.header .headerContent {
  padding: 0 24px;
  min-height: 64px;
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.header .logo {
  flex-grow: 1;
}

.menuItem {
  margin: 0 12px;
  text-decoration: none;
  color: #000000;
}

.menuItem:hover {
  text-decoration: underline;
}

.pageContainer {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 960px;
}

.pageHeading {
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.listRow {
  width: 100%;
  display: flex;
}

.listHeader {
  margin-bottom: 4px;
}

.listHeader .listCell {
  font-weight: bold;
}

.listCell {
  flex-grow: 1;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px;
  width: calc(100% / 4);
}

.formWrapper {
  display: flex;
  flex-wrap: wrap;
}

.fieldHalf {
  width: 45%;
  padding: 8px;
}

.fieldFull {
  width: 100%;
  padding: 8px;
  text-align: center;
}

.inputText {
  width: 100%;
  margin: 0;
  padding: 4px;
  height: 16px;
}

.textArea {
  height: 64px;
  width: 50%;
  padding: 8px;
}

.button {
  background-color: #1976d2;
  color:#ffffff;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

